img.bee-01 {
   width: 50%;
    height: 50%;


}
img.JarHeader{
    width: 50%;
    height: 50%;
}
img.splash-02{
    width: 5%;
    height: 10%;

}
img.beeFlyHeader {
    width: 10%;
    height: 10%;

}
img.beefly{
    width: 10%;
    height: 10%;
}

