
.honey-bg {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3c623;
}


.honeycomb {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    gap: 5px;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    transform: rotate(-10deg);
}


.honeycomb-cell {
    width: 50px;
    height: 50px;
    background-color: #f7b500;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: transform 0.5s, background-color 0.5s;
}

.honeycomb-cell:hover {
    background-color: #ffda59;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(255, 218, 89, 0.8);
}

@keyframes float {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}

img.CatHeader{
    width: 40%;
    height: 50%;
    padding: 20px;
}

.search-bar {
    background-color: #f4eaea;
    padding: 12px 16px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    border: 1px solid #007bff;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
}
.SearchBar-container{
    width: 50%;
}

